@media (min-width: 73em) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(4, 25rem);
    grid-template-rows: 24rem 24rem;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  .container {
  }

  .container-profile {
    height: 35rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 3rem;
    padding-left: 2rem;
    gap: 4rem;
  }

  .profile-heading {
    font-size: 3rem;
    font-weight: 300;
  }

  .report-text {
    color: var(--Desaturated-blue);
  }

  .buttons {
    height: 20rem;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
  }
  .report-box {
    grid-row: 1/-1;
    grid-column: 1/2;
  }
  .plan-container {
    gap: 2rem;
    height: 20rem;
    transform: translateY(20%);
  }

  .plan-container:hover {
    background-color: var(#fff);
    cursor: pointer;
  }

  .hours-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .hours {
    font-size: 3.2rem;
  }

  .exercise {
    grid-row: 2/-1;
    grid-column: 2/3;
  }

  .inner-box-one,
  .inner-box-six {
    background-position: 90% -1.5rem;
  }

  .inner-box-four {
    background-position: 90% 0;
  }

  .inner-box-five {
    background-position: 90% -1.8rem;
  }
}
